rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitimos acceso completo para facilitar el prototipado rápido y asegurar que los datos no se pierdan por errores de auth inicial
    match /{document=**} {
      allow read, write: if true;
    }
  }
}