rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    // Permitimos acceso completo si está autenticado para facilitar el prototipado
    match /roles/{id} {
      allow read, write: if isSignedIn();
    }
    match /categorias/{id} {
      allow read, write: if isSignedIn();
    }
    match /trabajadores/{id} {
      allow read, write: if isSignedIn();
    }
    match /articulos/{id} {
      allow read, write: if isSignedIn();
    }
    match /movimientosStock/{id} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}